0.0.0.0 {
    root /app
    tls petronetto@xdevel.com.br
    log /www/logs/access.log
    errors /www/logs/error.log
    gzip

    fastcgi / /var/run/php7-fpm.sock php

    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}